<h1>Edit Product</h1>

<!-- This page was copied from the new view page.  -->

<%= form_for @product do |f| %>
	<% if @product.errors.any? %>
		<p>There were <%= pluralize @product.errors.count, 'error' %> that kept your product from being added</p>
		<ul>
    	<% @product.errors.full_messages.each do |msg| %>
      	<li><%= msg %></li>
  		<% end %>
    </ul>
  </div>
<% end %>


	<div>
		<%= f.label :title %> 
		<br>
		<%= f.text_field :title %>
	</div>

<div>
		<%= f.label :description %> 
		<br>
		<%= f.text_field :description %>
	</div>

	<div>
		<%= f.label :price %> 
		<br>
		<%= f.text_field :price %>
	</div>

	<div>
		<%= f.label :stock_quantity %> 
		<br>
		<%= f.text_field :stock_quantity %>
	</div>

	<div><%= f.submit "Update Product" %></div>

	<% end %>

